.Rproj.user
.Rhistory
.RData
.Ruserdata
/.idea
.xml
.DS_Store
./ExtremeGradientBoosting/.ipynb_checkpoints/*
RecommenderSystem/ml-100k/*
*/.ipynb_checkpoints/*
/some_other
.ipynb_checkpoints
*/.DS_Store
